doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= AutoREST
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		script(src="/js/jquery/jquery.min.js" charset="utf-8")
		script(src="/js/angular/angular.min.js")
		script(src="/js/angular-sanitize/angular-sanitize.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/siteApp.js")
